main {
    margin: 2rem;
}

.card {
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    background-color: #fff;
    position: relative;

}

.card-img {
    max-height: 200px;
}

.card-img img {
    aspect-ratio: 16/9;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}

.card-text {
    margin-top: 2rem;
    padding: 0 1.5rem;
}

.card-text h1 {
    font-size: 1.175rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: $very-dark-grayish-blue;
}

.card-text p {
    color: $grayish-blue;
    margin-bottom: 2rem;
}

.card-holder {
    display: flex;

}

.card-holder-img {
    flex: 1;
}

.card-holder-img img {
    width: 40px;
    height: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-right: 1rem;
    float: left;
}

.card-holder-img::after {
    content: "";
    clear: both;
    display: block;
}

.card-holder-img h2 {
    font-size: 1rem;
    margin-bottom: 3px;
    color: $desaturated-dark-blue;
    font-weight: 500;
}

.card-holder-img p {
    font-size: .85rem;
    color: $grayish-blue;
    letter-spacing: .5px;
}

.card-holder-share a {
    display: block;
    width: 30px;
    height: 30px;
    background-color: $Light-grayish-blue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-holder-share img {
    width: 15px;
    height: auto;
}

.card-holder-social {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $very-dark-grayish-blue;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 1.25rem 2rem;
    transition: all .2s ease-in-out;
}

.card-holder-social.hidden p,
.card-holder-social.hidden img,
.card-holder-social.hidden a {
    display: none;
}

.card-holder-social.hidden {
    height: 0;
    padding: 0;

}

.card-holder-social p {
    text-transform: uppercase;
    letter-spacing: 5.5px;
    margin-right: 1rem;
    margin-bottom: 0;
    font-size: .85rem;
}

.card-holder-social img {
    width: 20px;
    margin-right: 1rem;
}

.card-holder-share {
    margin-left: 2rem;
}

.card-holder-share a.share-btn-active {
    background-color: $desaturated-dark-blue;
}

.card-holder-social svg path {
    width: 20px;
    margin-right: 0;
    fill: #fff;
}

@media screen and (min-width: 375px) {
    .card {
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, .1);
        background-color: #fff;
        position: relative;
        display: flex;
        max-width: 700px;

    }

    .card-img {
        max-height: 100%;
    }

    .card-img img {
        aspect-ratio: 1/1;
        border-radius: 0;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        object-fit: cover;

    }

    .card-text {
        margin-top: 2rem;
        padding: 0 2rem;
    }

    .card-text h1 {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 1rem;
        color: $very-dark-grayish-blue;
        line-height: 1.25;
    }

    .card-text p {
        color: $grayish-blue;
        margin-bottom: 2rem;
        line-height: 1.25;
    }

    .card-holder-social {
        position: absolute;
        bottom: 27%;
        left: 75%;
        width: 35%;
        background-color: $very-dark-grayish-blue;
        display: flex;
        align-items: center;
        border-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        padding: 1.25rem 2rem;
        transition: all .2s ease-in-out;
        box-shadow: 0 0 20px rgba($color: #000000, $alpha: .2);
    }

    .card-holder-social::after {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: $very-dark-grayish-blue;
        transform: rotate(45deg) translate(-50%, -50%);
        top: 100%;
        left: 50%;
    }

    .card-holder-social.hidden p,
    .card-holder-social.hidden img,
    .card-holder-social.hidden a,
    .card-holder-social.hidden::after {
        display: none;
    }

    .card-holder-social.hidden {
        height: 0;
        padding: 0;

    }

    .card-holder-social p {
        text-transform: uppercase;
        letter-spacing: 5.5px;
        margin-right: 1rem;
        margin-bottom: 0;
        font-size: .85rem;
    }

    .card-holder-social img {
        width: 20px;
        margin-right: 1rem;
    }

    .card-holder-share {
        margin-left: 2rem;
    }

    .card-holder-share a.share-btn-active {
        background-color: $desaturated-dark-blue;
        display: none;
    }

    .card-holder-social svg path {
        width: 20px;
        margin-right: 0;
        fill: #fff;
    }
}